{% liquid
  assign image = product.featured_image
%}

<a href="{{ product.url | within: collection }}" class="flex flex-row items-center gap-4">
  <div class="h-10 w-10 bg-neutral-100 p-2">
    <div class="relative aspect-square overflow-hidden ">
      {%- assign img_src = image.src | image_url: width: 1000 -%}
      {%- capture img_srcset -%}
        {{ image.src | image_url: width: 640 }} 320w, {{ image.src | image_url: width: 768 }} 640w,
        {{ image.src | image_url: width: 1280 }} 1024w
      {%- endcapture -%}
      <lazy-image class="block h-full w-full overflow-hidden bg-neutral-100">
        <img
          src="{{ image | image_url: width: 500 }}"
          alt="{{ product.title}} - {{ image.alt}}"
          width="600"
          height="800"
          data-src="{{ img_src }}"
          data-srcset="{{ img_srcset }}"
          loading="lazy"
          class="
            absolute
            inset-0 h-full
            w-full bg-white object-cover
          "
        >
      </lazy-image>
    </div>
  </div>

  <div class="flex-1 py-2">
    <h3 class="font-normal leading-normal">{{ product.title | escape }}</h3>
  </div>
</a>
