<user-manual-product-card class="relative block">
  <div id="UserManualProductCard-Image" class="group relative mb-4">
    {% render 'image',
      image: product.featured_image,
      width: 500,
      sizes: '500, 500, 500',
      aspect_ratio: 'aspect-square',
      class: 'bg-neutral-100 p-4 lg:p-10',
      object_fit: 'contain'
    %}
    <div class="invisible absolute inset-0 flex items-center justify-center bg-black/70 text-white opacity-0 transition-opacity group-hover:visible group-hover:opacity-100">
      <ul class="divide-y divide-white text-center">
        {%- for item in product.metafields.pdp.downloads.value -%}
          <li>
            <a href="{{ item.file | file_url }}" target="_blank" class="block py-2">🇺🇸 {{ item.title }}</a>
          </li>
        {%- endfor -%}
        <li><a href="{{ product.url }}" class="block py-2">View Product</a></li>
      </ul>
    </div>
  </div>

  <p class="mb-2 text-xl font-bold">{{ product.title }}</p>
  <span class="mb-4 inline-block uppercase tracking-widest text-neutral-800">
    Model: {{ product.metafields.pdp.model_number }}
  </span>

  {%- if product.metafields.pdp.downloads -%}
    <details rotate-icon class="relative">
      <summary class="inline-flex cursor-pointer items-center gap-x-2 py-4">
        <span>User Manual Downloads</span>
        {% render 'icons' with 'chevron-down' %}
      </summary>
      <aside class="absolute top-full left-0 right-0 z-10 rounded-md bg-neutral-100 p-4 lg:p-8">
        <ul class="divide-y">
          {%- for item in product.metafields.pdp.downloads.value -%}
            <li>
              <a href="{{ item.file | file_url }}" target="_blank" class="block py-3">
                {{- item.title -}}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </aside>
    </details>
  {%- endif -%}
</user-manual-product-card>
