<header-drawer data-breakpoint="tablet" class="main-nav__drawer lg:hidden text-base">
  <details id="Details-menu-drawer-container" class="menu-drawer-container flex">
    <summary
      class="
        details__summary
        header__icon header__icon--menu header__icon--summary link focus-inset first-letter
        uppercase text-sm inline-block
      "
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <span>{% render 'icons' with 'hamburger' %} </span>
    </summary>
    <div
      id="menu-drawer"
      class="gradient menu-drawer motion-reduce"
      tabindex="-1"
    >
      <div class="">
        <div class="flex flex-col overflow-y-auto gap-4 p-4">
          <header class="relative flex justify-center">
            <button class="drawer__close absolute top-1/2 -translate-y-1/2 right-0">
              {%- render 'icons' with 'close' -%}
            </button>
            <a href="{{ routes.root_url }}" class="mx-auto">
              {%- if logo != blank -%}
                {%- assign logo_alt = logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = logo_width | divided_by: logo.aspect_ratio -%}

                {{
                  logo
                  | image_url: width: section.settings.width
                  | image_tag:
                    class: 'header__heading-logo py-2',
                    widths: '50, 100, 150, 200, 250, 300, 400, 500',
                    height: logo_height,
                    width: logo_width,
                    alt: logo_alt
                }}

              {%- else -%}
                {{ shop.name }}
              {%- endif -%}
            </a>
          </header>
          {% render 'search-component', limit: 5, aside_class: 'mt-4' %}
          <nav class="">
            <ul
              class="
                menu-drawer__menu has-submenu list-menu
                flex flex-col text-neutral-800
              "
              role="list"
            >
              {%- for link in section.settings.menu.links -%}
                <li class="">
                  {%- if link.links != blank -%}
                    <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                      <summary class="menu-drawer__menu-item flex items-center justify-between py-3 {% if link.child_active %} {% endif %}">
                        {{ link.title | escape }}
                        {% render 'icons' with 'arrow-right' %}
                      </summary>
                      <div
                        id="link-{{ link.handle | escape }}"
                        class="menu-drawer__submenu has-submenu gradient motion-reduce absolute top-0 left-0 right-0 bottom-0 z-20 -translate-x-full invisible opacity-0 bg-white p-4"
                        tabindex="-1"
                      >
                        <div class="menu-drawer__inner-submenu flex flex-col gap-8">
                          <header class="relative flex justify-center">
                            <button
                              class="menu-drawer__close-button absolute left-0 top-1/2 -translate-y-1/2"
                              aria-expanded="true"
                            >
                              {% render 'icons' with 'arrow-left' %}
                            </button>

                            <a href="{{ routes.root_url }}" class="mx-auto">
                              {%- if logo != blank -%}
                                {%- assign logo_alt = logo.alt | default: shop.name | escape -%}
                                {%- assign logo_height = logo_width | divided_by: logo.aspect_ratio -%}

                                {{
                                  logo
                                  | image_url: width: section.settings.width
                                  | image_tag:
                                    class: 'header__heading-logo py-2',
                                    widths: '50, 100, 150, 200, 250, 300, 400, 500',
                                    height: logo_height,
                                    width: logo_width,
                                    alt: logo_alt
                                }}

                              {%- else -%}
                                {{ shop.name }}
                              {%- endif -%}
                            </a>
                            <button class="drawer__close absolute top-1/2 -translate-y-1/2 right-0">
                              {%- render 'icons' with 'close' -%}
                            </button>
                          </header>

                          <nav>
                            <h3 class="text-lg mb-2">{{ link.title | escape }}</h3>
                            <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                              {%- for childlink in link.links -%}
                                <li>
                                  {%- if childlink.links == blank -%}
                                    <a
                                      href="{{ childlink.url }}"
                                      class="menu-drawer__menu-item py-2{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                      {% if childlink.current %}
                                        aria-current="page"
                                      {% endif %}
                                    >
                                      {{ childlink.title | escape }}
                                    </a>
                                  {%- else -%}
                                    <details id="Details-menu-drawer-submenu-{{ forloop.index }}" rotate-icon>
                                      <summary class="flex justify-between items-center py-3">
                                        {{ childlink.title | escape }}
                                        {% render 'icons' with 'chevron-down' %}
                                      </summary>
                                      <div
                                        id="childlink-{{ childlink.handle | escape }}"
                                        class="menu-drawer__submenu has-submenu gradient motion-reduce"
                                      >
                                        <ul class="flex flex-col px-4 text-neutral-500" role="list" tabindex="-1">
                                          {%- for grandchildlink in childlink.links -%}
                                            <li>
                                              <a
                                                href="{{ grandchildlink.url }}"
                                                class="block py-2{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"
                                                {% if grandchildlink.current %}
                                                  aria-current="page"
                                                {% endif %}
                                              >
                                                {{ grandchildlink.title | escape }}
                                              </a>
                                            </li>
                                          {%- endfor -%}
                                        </ul>
                                      </div>
                                    </details>
                                  {%- endif -%}
                                </li>
                              {%- endfor -%}
                              <li><a href="{{ link.url }}" class="inline-block font-semibold py-3">Shop All</a></li>
                            </ul>
                          </nav>
                        </div>
                      </div>
                    </details>
                  {%- else -%}
                    <a
                      href="{{ link.url }}"
                      class="
                        menu-drawer__menu-item
                        py-3 block w-full
                        group transition-all duration-500 ease-out-expo
                        focus-inset {% if link.current %} menu-drawer__menu-item--active{% endif %}
                      "
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      <span
                        class="transition-all duration-500 ease-out-expo inline-block"
                      >
                        {{ link.title | escape }}
                      </span>
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </nav>
          <div class="py-4 overflow-x-auto">
            {% render 'socials', class: 'flex gap-x-2', height: '20', width: '20' %}
          </div>
        </div>
        <footer class="bg-gray-100  px-4 py-8">
          {%- if mobile_menu_footer != blank -%}
            <ul class="flex flex-col gap-y-2">
              {%- for link in mobile_menu_footer.links -%}
                <li>
                  {%- if link.links == blank -%}
                    <a href="{{ link.url }}" class="py-2 block">{{ link.title }}</a>
                  {%- else -%}
                    <details id="Details-mobile-menu-footer-item-{{ forloop.index }}">
                      <summary class="flex justify-between items-center">
                        {{ link.title | escape }}
                        {% render 'icons' with 'chevron-down' %}
                      </summary>
                      <aside class="px-4 py-2 text-neutral-500">
                        <ul>
                          {%- for childlink in link.links -%}
                            <li>
                              <a href="{{ childlink.url }}" class="py-2 block">{{ childlink.title }}</a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </aside>
                    </details>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}

          {%- if shop.customer_accounts_enabled -%}
            <a
              href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
              class="btn-primary mt-8 inline-block"
            >
              {% render 'icons' with 'account' %}
              {%- liquid
                if customer
                  echo 'customer.account_fallback' | t
                else
                  echo 'customer.log_in' | t
                endif
              -%}
            </a>
          {%- endif -%}
        </footer>
      </div>
    </div>
  </details>
</header-drawer>
