{%- liquid
  assign video_id = section.settings.video_url.id
  assign poster = section.settings.video_url.preview_image | default: section.settings.cover_image
-%}

{% style %}
  {% if section.settings.bg_color %}
    #shopify-section-{{ section.id }} {
      background-color: {{ section.settings.bg_color }};
    }
  {% endif %}
  #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.mobile_padding_y }}rem;
    padding-bottom: {{ section.settings.mobile_padding_y }}rem;
  }
  #PDP-Youtube-Header-{{ section.id }} {
    {% render 'get-text-align-style', align: section.settings.mobile_text_align, get: 'style' %}
  }
  #PDP-Youtube-Title-{{ section.id }} {
    color: {{ section.settings.text_color_heading }};
  }
  #PDP-Youtube-Desc-{{ section.id }} {
    color: {{ section.settings.text_color_desc }};
  }

  @media (min-width: 1024px) {
    #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.desktop_padding_y }}rem;
      padding-bottom: {{ section.settings.desktop_padding_y }}rem;
    }
    #PDP-Youtube-Header-{{ section.id }} {
      {% render 'get-text-align-style', align: section.settings.desktop_text_align, get: 'style' %}
    }

  }
{% endstyle %}

<div class="{{ section.settings.container }}">
  <header id="PDP-Youtube-Header-{{ section.id }}" class="mb-12">
    {%- if section.settings.title != blank -%}
      <h2 id="PDP-Youtube-Title-{{ section.id }}" class="m-title">{{ section.settings.title }}</h2>      
    {%- endif -%}
    {%- if section.settings.desc != blank -%}
      <p id="PDP-Youtube-Desc-{{ section.id }}" class="m-desc">{{ section.settings.desc }}</p>      
    {%- endif -%}
  </header>

  <defer-embed-video>
    {%- if section.settings.video_url.type == 'youtube' -%}
      <iframe
        data-src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1{%- if section.settings.video_autoplay -%}&autoplay=1{%- endif -%}"
        class="js-youtube aspect-video w-full h-full"
        allow="autoplay; encrypted-media"
        allowfullscreen
        title="{{ section.settings.description | escape }}"
      ></iframe>
    {%- else -%}
      <iframe
        data-src="https://player.vimeo.com/video/{{ video_id }}{%- if section.settings.video_autoplay -%}?autoplay=1{%- endif -%}"
        class="js-vimeo aspect-video w-full h-full"
        allow="autoplay; encrypted-media"
        allowfullscreen
        title="{{ section.settings.description | escape }}"
      ></iframe>
    {%- endif -%}
  </defer-embed-video>
</div>


{% schema %}
{
  "name": "PDP | Youtube",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "Title",
      "default": "<b>Delicious. Crispy. Guilt-Free.</b>"
    },
    {
      "type": "textarea",
      "id": "desc",
      "label": "Desc"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "label": "Youtube",
      "accept": [
        "youtube",
        "vimeo"
      ],
      "default": "https://youtu.be/7HXo7IQwTH8"
    },
    {
      "type": "checkbox",
      "id": "video_autoplay",
      "label": "Video Autoplay",
      "default": false
    },
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "BG color"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Container (width)",
      "options": [
        {
          "value": "",
          "label": "Full width"
        },
        {
          "value": "container",
          "label": "Default"
        },
        {
          "value": "container max-w-screen-sm",
          "label": "sm"
        },
        {
          "value": "container max-w-screen-md",
          "label": "md"
        },
        {
          "value": "container max-w-screen-lg",
          "label": "lg"
        },
        {
          "value": "container max-w-screen-xl",
          "label": "xl"
        },
        {
          "value": "container max-w-screen-2xl",
          "label": "2xl"
        }
      ],
      "default": "container"
    },
    {
      "type": "color",
      "id": "text_color_heading",
      "label": "Text color (Heading)",
      "default": "#003339"
    },
    {
      "type": "color",
      "id": "text_color_desc",
      "label": "Text color (Desc)",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Desktop Settings"
    },
    {
      "type": "select",
      "id": "desktop_text_align",
      "label": "Text align (Desktop)",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Mobile Settings"
    },
    {
      "type": "select",
      "id": "mobile_text_align",
      "label": "Text align (Mobile)",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "desktop_padding_y",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "rem",
      "label": "Desktop Padding (Y)",
      "default": 4
    },
    {
      "type": "range",
      "id": "mobile_padding_y",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "rem",
      "label": "Mobile Padding (Y)",
      "default": 2
    }
  ],
  "presets": [
    {
      "name": "PDP | Youtube"
    }
  ]
}
{% endschema %}
